.vscode
data
audits
feature
weights
output
visualizations
segmentation_results
anchor_hit_region_audit
anchor_point_pesudo_joint
anchor_pesudo_label_coarse
stage3_debug_viz_maskgt_affine
stage3_debug_viz_pairalign_affine
anchor_pesudo_label_coarse_before_joint